{% extends "base.html" %}
{% block data %}
<p>Alias takes a list of usernames and searches for data about the people associated with those usernames. Currently, Alias searches Twitter, Gravatar, and Github for additional data. In the future new search modules will be added. If you would like to help add new modules fork the project on <a href="https://github.com/averagesecurityguy/alias">Github</a> and contribute.</p>

<p>To use Alias, go to the Add Targets tab and upload a comma delimited list of usernames. Next, go to the View Targets tab and view the information found on the uploaded usernames. The lookup services run in the background so data will be continually added to this page until all the users have been looked up on each service. You will need to refresh the page regularly to see any updates. You can also look at the View Services tab to get a list of services where the uploaded usernames were found.</p>

{% endblock %}