{% extends "base.html" %}
{% block data %}
<p>A/S/L takes a list of usernames or email addresses and searches for data about the people associated with those usernames or email addresses. Currently, A/S/L searches Twitter and Gravatar for additional data. In the future new search modules will be added. If you would like to help add new modules fork the project on <a href="https://github.com/averagesecurityguy/asl">Github</a> and contribute.</p>

<p>To use A/S/L, go to the Add Users tab and upload a comma delimited list of usernames or email addresses. Next, go to the Perform Lookups tab and start the various lookups. Once the lookups are complete, Use the User Directory and Email Directory tabs to view the data.</p>

{% endblock %}