{% extends "base.html" %}
{% block data %}

{% if (not keys) and (not users) %}
	<p>None of the usernames have data associated with them. Try running the lookups.</p>
{% else %}
	{% if users %}
		<ul class="column6">
		{% for user in users %}
			<li><a href="/user/{{ user }}">{{ user }}</a></li>
		{% endfor %}
	{% endif %}

	{% if keys %}
		<ul class="column12">
		{% for key in keys %}
	  		<li><a href="/users/{{ key }}">{{ key }}</a></li>
		{% endfor %}
	{% endif %}

{% endif %}

	</ul>
</div>
{% endblock %}