{
  "tw_consumer_key": "",
  "tw_consumer_secret": "",
  "tw_token": "",
  "tw_token_secret": "",
  "github_token": "",
  "user_db": 0,
  "email_db": 1,
  "nym_db": 2,
  "loc_db": 3,
  "url_db": 4,
  "name_db": 5,
  "about_db": 6,
  "valid_sources": ["gravatar", "twitter"]
}
